# c:\repo\BitCoiners-Mixologa-el-Gepardo\Restaurante - Hamburguesas-y-Mixologa-el-Gepardo\client-restaurant\.env.example
EXPO_PUBLIC_AUTH_URL=http://localhost:5022/auth
EXPO_PUBLIC_ADMIN_URL=http://localhost:3000
